In [7]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import yfinance as yf

### Importing Data
Getting data from yahoo finance data api

In [17]:
nq = yf.Ticker('NQ=F')
yf.download('NQ=F')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open  Volume
Ticker          NQ=F      NQ=F      NQ=F      NQ=F    NQ=F
Date
2000-09-18   3653.50   3785.50   3602.00   3721.00   72994
2000-09-19   3804.00   3817.00   3656.00   3658.50   70029
2000-09-20   3853.00   3874.00   3715.50   3801.50   78832
2000-09-21   3765.00   3874.00   3744.00   3852.00   70719
2000-09-22   3776.00   3780.00   3615.00   3673.00   55926
...              ...       ...       ...       ...     ...
2025-03-26  20116.50  20536.75  20045.00  20511.50  620685
2025-03-27  19990.25  20199.50  19937.25  20046.00  634738
2025-03-28  19457.00  20011.75  19357.50  19995.25  696397
2025-03-31  19439.50  19489.75  18976.75  19319.75  842547
2025-04-01  19573.25  19697.00  19556.75  19600.50   27191

[6196 rows x 5 columns]