## Following Course "Algorithmic Trading Using Python" by freecodecamp.org
### The goal of this project is to create an equal-weighted S&P 500 index fund
###### The finished project will be a script which takes values of your portfolio as an input and outputs how many shares of each S&P 500 stock you should purchase to get an equal-weight version of the index fund.
###### The data used (instead of paying for an API) is going to be a static version of the S&P 500

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

importing the stocks from the static list

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]